[Unit]
Description=Python Runner
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/mites17/heartbeat.py > /home/pi/mites17/heartbeat.log 2>&1

[Install]
WantedBy=multi-user.target
